#pagewrap{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#pagewrap span{
	display: inline-block;
	text-align: center;;
	line-height: 30px;
	width: 30px;
	height: 30px;
}
#pagewrap .page-prev,
#pagewrap .page-next,
#pagewrap .page-first,
#pagewrap .page-last{
	width: 60px;
	cursor: pointer;
}
#pagewrap .page-item{
	cursor: pointer;
}
#pagewrap .page-item.on{
	background: #ccc;
}
#pagewrap .hds-skip{
	width: auto;
	color: rgb(153, 153, 153);
	font-size: 14px;
}
#pagewrap .hds-skip #hds-skip-input,
#pagewrap .hds-skip #hds-skip-button{
	display: inline-block;
	height: 30px;
    line-height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    vertical-align: top;
    background-color: #fff;
}
#pagewrap .hds-skip #hds-skip-input{
	display: inline-block;
	width: 50px;
	padding: 0;
	margin: 0 5px;
	color: black;
	font-size: 14px;
	padding: 0 10px;
	text-align: center;
}
#pagewrap .hds-skip #hds-skip-button{
	margin-left: 5px;
    padding: 0 15px;
    cursor: pointer;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}
.blessing{
    padding-left: 144px;
    width: 1108px;
    height: 425px;
    overflow: hidden;
    margin-bottom: 45px;
}
.blessing .blessing-item{
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 192px;
    height: 187px;
    border-radius: 8px;
    border: 1px solid #d3c496;
    margin-right: 49px;
    margin-bottom: 50px;
    padding: 26px 16px 0;
}
.blessing .icon{
    position: absolute;
    left: 6px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #d3c496;
}
